body {
  font-family: 'Georgia';
  background-color: #241524;
  margin: 0;
  line-height: 1.6;
}
header {
  background-color: #241524;
  color: white;
  text-align: center;
  padding: 2rem;
}
main {
  max-width: 800px;
  margin: 2rem auto;
  background: #241524;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



